{% extends 'base.html' %}
{% block content%}

<br/>

	{% if zipcode %}
		{{ zipcode }}
	{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was an error, please try again...
	{% else %}
	<br/><br/>
	<div class="jumbotron {{ category_color }}">
	  <h1 class="display-4">{{ api.0.Category.Name }}</h1>
	  <p><strong> Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</strong></p>

	  <p><strong>{{category_description}}</strong></p>

	</div>
	<br/>
		
	{% endif %}

{% endif %}

{% endblock %}